/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* globals.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f0f0f0;
}


.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around ;
  height: 100vh ;
  background-color: #f0f0f0;
}

input {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resume-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}



.title-input,
.email-input,
.send-button {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.send-button {
  width: 200px;
  border: 1px solid #ccc;
}

.roles-list {
  margin-top: 20px;
}

.roles-list h3 {
  margin-bottom: 10px;
}

.roles-list ul {
  list-style-type: none;
  padding: 0;
}

.roles-list li {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
